[submodule "evm/lib/forge-std"]
	path = evm/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evm/lib/openzeppelin-contracts"]
	path = evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "evm/lib/wormhole"]
	path = evm/lib/wormhole
	url = https://github.com/wormhole-foundation/wormhole
[submodule "evm/lib/openzeppelin-contracts-4"]
	path = evm/lib/openzeppelin-contracts-4
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "evm/lib/flexible-voting"]
	path = evm/lib/flexible-voting
	url = https://github.com/ScopeLift/flexible-voting
[submodule "evm/lib/wormhole-solidity-sdk"]
	path = evm/lib/wormhole-solidity-sdk
	url = https://github.com/alexkeating/wormhole-solidity-sdk
